<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mashup</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div id="results"></div>

    <script id="headerTemplate" type="text/template">
      <h1>Farmers markets near zipcode <%= zip %></h1>
    </script>

    <script id="marketTemplate" type="text/template">
      <div class="market-info">
      <h2><%= market.name %></h2>
      <p><a href="<%= market.googleLink %>">Map</a></p>
      <dl>
      <dt>Address:</dt><dd><%= market.name %></dd>
      <dt>Schedule:</dt><dd><%= market.schedule %></dd>
      <dt>Products:</dt><dd><%= market.products %></dd>
      </dl>
      </div>
    </script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/underscore-min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
